<div class="column is-half">
    <article class="media box">
    </article>
</div>


<% @tweets.each do | tweet | %>
    <div class="box">
        <p><%= tweet.id %></p>
        <article class="media">
            <p><%= tweet.message %></p>
        </article>
    </div>
<% end %>