<div id="<%= tweet %>">
  <p>
    <strong>Message:</strong>
    <%= tweet.message %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= tweet.likes %>
  </p>

  <p>
    <strong>User:</strong>
    <%= tweet.user_id %>
  </p>

</div>
