<section class="section">
  <div class="container">
    <div class="columns">
      <%= render 'feed' %>
    </div>
  </div>
</section>

<%= render 'menu' %>

<% if current_user.present? %>
  <%= button_to 'Log out', destroy_user_session_path, method: :delete %>  
<% else %>
  <%= link_to 'Sign Up/In', new_user_session_path %>
<% end %>


